.boxPc {
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    gap: 0;
    padding: 15px;
    border: 1px solid rgb(47, 47, 47);
    background-color: #17181d;
    border-radius: 12px;
 }
 
 .boxPc:hover {
    border: 1px solid #ff8c0069;
    background-color: #16171a;
 }
 
 .boxLight {
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    gap: 0;
    padding: 15px;
    border: 1px solid #00000039;
    background-color: #ddd;
    border-radius: 12px;
 }
 
 .boxLight:hover {
    border: 1px solid #ff8e00;
    background-color: #eee;
 }
 
 .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 
 
 .number {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .7px;
    color: rgb(125, 82, 0);
 }
 
 .date {
    font-size: 16px;
 }
 
 .imgPc {
    width: 100%;
    height: 230pxgit a;
    margin-top: 6px;
    padding: 0;
    overflow: hidden;
    background-color: #222;
    border-radius: 5px;
 }
 
 .imgPc img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    object-position: top;
    filter: drop-shadow(0px 0px 8px #000);
    transform: scale(1.03);
    filter: grayscale(.7);
 }
 
 .boxPc:hover img {
    filter: grayscale(0);
 }
 
 .titu {
    font-size: 22px;
    font-weight: 500;
    letter-spacing: .7px;
    margin: 0;
    margin-top: 5px;
    color: orange;
 }
 
 .detalle {
    font-size: 17px;
    font-weight: 200;
    letter-spacing: .7px;
    line-height: 17px;
    margin: 0;
    margin-top: 7px;
    padding: 0;
    color: #aaa;
 }
 
 .tecno {
    width: auto;
    padding-top: 10px;
    margin: 0;
    margin-top: auto;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    gap: 4px 8px;
 }
 
 .tecno span {
    background-color: rgba(256,256,256,.06);
    border-radius: 5px;
    padding: 3px 8px;
    text-align: left;
    font-size: 16px;
    line-height: 19px;
    font-weight: 200;
    letter-spacing: .4px;
 }
 
 .butons {
    width: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 20px;
    margin-top: auto;
    z-index: 200;
 }
 
 .butonWeb {
    display: inline-flex;
    align-items: center;
    padding: 6px 14px;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.5s ease;
    margin-right: 16px;
    font-size: 14px;
    background-color: rgb(124, 80, 0);
    color: #111;
    border: 1px solid #000;
 }
 
 .boxPc:hover .butonWeb {
    background-color: #ff8e00;
 }
 
 .butonWeb:hover {
    border: 1px solid orange;
    background-color: transparent;
 }
 
 .butonWeb svg {
    margin-right: 8px;
 }
 
 .butonGit {
    display: inline-flex;
    align-items: center;
    padding: 6px 14px;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.5s ease;
    margin-right: 16px;
    font-size: 14px;
    background-color: transparent;
    color: #ccc;
    border: 1px solid #aaa;
    transition: all 0.5s ease;
    }
 
    .butonGit:hover {
       background-color: #ccc;
       color: #111;
       border: 1px solid #000;
    }
    
    .butonGit svg {
       margin-right: 8px;
    }













    @media (max-width: 1200px) {
        .boxPc {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: stretch;
            gap: 0;
            margin-bottom: 0;
            padding: 25px 18px;
            border: 0.05px solid #aaaaaa50;
            flex-grow: 1;
         } 
         
         .boxPc:hover {
            border: 0.01px solid #aaaaaa50;
            background-color: #17181d;
         }
      
         .boxPcLight {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: stretch;
            gap: 0;
            margin-bottom: 0;
            padding: 25px 18px;
            border: .4px solid #33333389 !important;
            flex-grow: 1;
            background-color: #ddd !important;
         } 
      
      
         .info {
            display: flex;
            justify-content: space-between;
            align-items: end;
         }
         
         .date {
            font-size: 14px;
            font-weight: 600;
            line-height: 12px;
            color: #606060;
         }
      
         .dateLight {
            font-size: 14px;
            font-weight: 600;
            line-height: 12px;
            color: #333;
         }
         
         .number {
            font-size: 18px !important;
            font-weight: 500;
            line-height: 14px;
            letter-spacing: .7px;
            color: #828282 !important;
         }
      
         .numberLight {
            font-size: 18px !important;
            font-weight: 500;
            line-height: 14px;
            letter-spacing: .7px;
            color: #333 !important;
         }
         
         .imgPc {
            width: 100%;
            height: auto;
            overflow: hidden;
            margin-top: 10px;
            padding: 0;
            border-radius: 2px;
         }
         
         .imgPc img {
            width: 100%;
            height: 135px;
            object-fit: cover;
            object-position: top;
            transform: scale(1.1);
            filter: grayscale(.3);
         }
         
         .imgPc img:hover {
            transform: scale(1.1);
         }
      
      
         .titu {
            font-size: 20px;
            line-height: 22px;
            font-weight: 300;
            letter-spacing: .5px;
            color: orange !important;
            margin: 0;
            margin-top: 10px;
         }
      
         .tituLight {
            font-size: 20px;
            line-height: 22px;
            font-weight: 300;
            letter-spacing: .5px;
            color: #111 !important;
            margin: 0;
            margin-top: 10px;
         }
         
      
         .detalle {
            width: 100%;
            font-size: 16px;
            font-weight: 200;
            letter-spacing: .5px;
            line-height: 17px;
            color: #bbb !important;
            margin-top: 8px;
            padding: 0;
            hyphens: auto;
            word-wrap: break-all;
         }
      
         .detalleLight {
            width: 100%;
            font-size: 16px;
            font-weight: 300 !important;
            letter-spacing: .5px;
            line-height: 17px;
            color: #111 !important;
            margin-top: 8px;
            padding: 0;
            hyphens: auto;
            word-wrap: break-all;
         }
         
         .tecno {
            width: 100%;
            color: #bbb !important;
            text-align: left;
            font-size: 16px;
            font-weight: 400 !important;
            line-height: 17px !important;
            letter-spacing: .5px;
            padding: 0;
            padding-top: 16px !important;
            margin: 0;
         }
      
         .tecnoLight {
            width: 100%;
            color: #333 !important;
            text-align: left;
            font-size: 17px;
            font-weight: 600 !important;
            line-height: 15px;
            letter-spacing: .5px;
            padding: 0;
            padding-top: 7px;
            margin: 0;
            margin-top: auto;
         }
      
         .tecno, .tecnoLight span {
            font-size: 15px;
            padding: 3px 5px;
         }
      
         .butons {
            width: auto;
            display: flex;
            justify-content: start;
            align-items: center;
            margin-top: 0;
            z-index: 200;
         }
         
         .butonWeb {
            display: inline-flex;
            align-items: center;
            padding: 6px 14px;
            color: #ff8e00;
            box-shadow: none;
            background-color: transparent !important;
            text-decoration: none;
            border-radius: 4px;
            margin-right: 7px;
            border: 1px solid #ff8e00 !important;
          }
      
         .butonWebLight {
            display: inline-flex;
            align-items: center;
            padding: 6px 14px;
            color: #111;
            box-shadow: none;
            background-color: #ff8e00 !important;
            text-decoration: none;
            border-radius: 5px;
            margin-right: 7px;
            border: 1px solid #111 !important;
          }
      
         .butonRepLight {
            display: inline-flex;
            align-items: center;
            padding: 6px 14px;
            color: #222 !important;
            box-shadow: none;
            background-color: transparent !important;
            text-decoration: none;
            border-radius: 5px;
            margin-right: 7px;
            border: 1px solid #222 !important;
          }
          
          .butonWeb svg {
            margin-right: 8px;
          }
      
          .butonWebLight svg {
            margin-right: 8px;
          }
      
          .butonRepLight svg {
            margin-right: 8px;
          }
    }