:root {
  --background-color-light: #fff;
  --background-color-dark: #000;
  --text-color-light: #000;
  --text-color-dark: #fff;
}

.light-theme {
  background-image: url('../public/bgLight.png');
  background-repeat: no-repeat;
  background-size: contain;
  --background-color: var(--background-color-light);
  --text-color: var(--text-color-light);
}

.dark-theme {
  background-image: url('../public/bgHeader.png');
  background-repeat: no-repeat;
  background-size: contain;
  --background-color: var(--background-color-dark);
  --text-color: var(--text-color-dark);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.link {
  color: var(--text-color);
}





@media only screen and (max-width: 680px) {

#root {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  font-family: "Kanit", sans-serif;
  background-color: #000;
  background-position: top;
  background-image: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #000;
  background-color: #000;
  overflow-x: hidden;
  width: 100vw;
  height: auto;
}

} 