:root {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "Kanit", sans-serif;
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

  body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: auto;
    background-color: #000;
    color: #000;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

