:root {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "Kanit", sans-serif;
  scroll-behavior: smooth;
  --background-color-light: #0b001f;
  --background-color-dark: #17181d;
  --text-color-light: #000;
  --text-color-dark: #fff;
}

.light-theme {
  background-image: none;
  --background-color: var(--background-color-light);
  --text-color: var(--text-color-light);
}

.dark-theme {
  background-image: url('../public/newbg.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  --background-color: var(--background-color-dark);
  --text-color: var(--text-color-dark);
}


button {
  cursor: pointer;
}

  body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: auto;
    background-color: var(--background-color);
    color: var(--text-color);
}

.link {
  color: var(--text-color);
}

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

