.container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 0;
    padding: 0;
}

.pContainer {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 0;
    padding: 0;
}   

.aboutMe {
    width: 26%;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 2px;
    background-color: rgb(42, 0, 77);
    color: #000;
    padding: 10px 20px;
    text-align: right;
}

.texto {
    width: auto;
    height: 400px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.imgTxt {
    width: auto;
}

.imgTxt img {
    width: 300px;
    height: 400px;
    object-fit: cover;
}

.txt {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.why {
    font-size: 42px;
    font-weight: 500;
    letter-spacing: .6px;
    line-height: 40px;
    word-spacing: -2.6px;
    color: #fff;
}

.first {
    width: auto;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: .8px;
    text-align: left;
    margin: 0;
    margin-top: 25px;
    padding: 0;
    color: #8e8e8e;
    filter: drop-shadow(0px 0px 7px #000);
}

.second {
    width: auto;
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: .8px;
    text-align: left;
    margin: 0;
    margin-top: 25px;
    padding: 0;
    color: #7d7d7d;
    filter: drop-shadow(0px 0px 7px #000);
}

.conocimientos {
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.conocimientos h6 {
    color: #898989;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 70px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tecno {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 25px;
    row-gap: 70px;
    color: #fff;
}

.skillItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
}

.skillItem span {
    color: #cdcdcd;
    margin-top: 8px;
    font-size: 22px;
}













/* Estilos para dispositivos móviles ------------------------------- */

@media only screen and (max-width: 680px) {

    .container {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        margin: 0;
        padding: 0;
    } 
    
    .aboutMe {
        width: auto;
        font-size: 24px;
        font-weight: 700;
        letter-spacing: .8px;
        background-color: rgb(69, 0, 125);
        color: #c4c4c4;
        padding: 10px;
        padding-left: 45px;
        text-align: right;
    }
    
    .texto {
        width: auto;
        height: auto;
        margin: 0;
        margin-top: 60px;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;
    }
    
    .imgTxt {
        width: auto;
    }
    
    .imgTxt img {
        width: 240px;
        height: auto;
        object-fit: scale-down;
        opacity: .6;
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 10%, transparent);
    }
    
    .txt {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        position: relative;
        top: -100px;
        padding: 0 20px;
    }
    
    .why {
        font-size: 30px;
        font-weight: 500;
        letter-spacing: .8px;
        line-height: 34px;
        word-spacing: -1.6px;
        color: #d8d8d8;
        text-align: center;
    }
    
    .first {
        width: auto;
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: .5px;
        text-align: center;
        margin: 0;
        margin-top: 10px;
        padding: 0;
        color: #a5a5a5;
    }
    
    .second {
        width: auto;
        font-size: 22px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: .8px;
        text-align: center;
        margin: 0;
        margin-top: 20px;
        padding: 0;
        color: rgb(70, 0, 128);
        filter: drop-shadow(0px 0px 7px #000);
    }
    
    .conocimientos {
        width: 100%;
        margin: 0 auto;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 15px;
    }
    
    .conocimientos h6 {
        color: #898989;
        font-size: 22px;
        font-weight: 400;
        margin-bottom: 30px;
        text-align: center;
    }
    
    .skills {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .tecno {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 8px;
        row-gap: 25px;
        color: #fff;
    }
    
    .skillItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 26px;
    }
    
    .skillItem span {
        color: #cdcdcd;
        margin-top: 8px;
        font-size: 18px;
    }
    
    
}