.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: transparent;
}

.pContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0px 14%;
    padding-top: 200px;
}   

.imgAbout {
    width: auto;
}

.imgAbout img {
    width: 180px;
    object-fit: scale-down;
    border-radius: 50%;
    background-color: #0091871c;
    border: 1px solid #ffffff30;
    opacity: .9;
    pointer-events: none;
}

.first {
    width: 50%;
    margin: 0;
    padding: 0px;
    padding-left: 20px;
    color: #ffffff64;
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: .6px;
    text-align: left;
    filter: drop-shadow(0px 0px 10px #003531);
    font-style: italic;
}

.about {
    width: 64%;
    height: auto;
    margin: 0 auto;
    margin-top: 30px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
}

.second {
    font-size: 24px;
    font-weight: 300;
    line-height: 34px;
    letter-spacing: .6px;
    color: #ffffff85;
    font-style: italic;
    text-align: justify;
    text-align-last: center;
}

.skills {
    width: 30%;
    padding: 0;
    white-space: nowrap;
    overflow-x: hidden;
    margin: 0 auto;
    margin-top: 100px;
    overflow: hidden;
}



.tecno {
    width: auto;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: start;
    flex-wrap: nowrap;
    animation: desplazamiento 20s linear infinite;
}

@keyframes desplazamiento {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-160%);
    }
  }

.tecno p {
    width: auto;
    font-size: 26px;
    color: #515151;
    padding: 0;
    margin: 0;
    margin-right: 34px;
    display: flex;
    align-items: center;
}

.menu {
    display: none;
}





/* Estilos para dispositivos móviles ------------------------------- */

@media only screen and (max-width: 680px) {

    .container {
        width: 100%;
        min-height: 100vh;
        flex-direction: column;
        margin: 0;
        padding: 0;
        background-image: none;
        background-color: #111;
    }
    
    .pContainer {
        width: 100%;
        padding: 0 4%;
        padding-top: 60px;
        display: flex;
        display: flex;
        flex-direction: row-reverse;
        justify-content: start;
        align-items: start;
    }   
    
    .imgAbout {
        width: auto;
    }
    
    .imgAbout img {
        width: 160px;
        object-fit: scale-down;
        border-radius: none;
        background-color: #00918751;
        border: none;
        opacity: .55;
        mask-image: linear-gradient(to left bottom,#000 10%, transparent);
        position: absolute;
        right: 4%;
    }
    
    .first {
        width: 80%;
        margin: 0;
        padding: 0px;
        margin-left: 0px;
        margin-top: 85px;
        color: #8d8d8d;
        font-size: 16px;
        font-weight: 250;
        line-height: 16px;
        letter-spacing: .4px;
        text-align: left;
        filter: drop-shadow(0px 0px 5px #000000);
        font-style: italic;
        hyphens: auto;
        word-wrap: break-word;
    }
    
    .about {
        width: 92%;
        height: auto;
        margin: 0 auto;
        margin-top: 36px;
        padding: 0;
        padding-bottom: 0px;
        background-color: transparent;
    }
    
    .second {
        padding: 10px 0;
        margin: 0;
        width: 100%;
        height: auto;
        font-size: 20px;
        font-weight: 300;
        line-height: 18px;
        letter-spacing: .6px;
        background-color: transparent;
        background-image: linear-gradient(to bottom,#939393 30%,#222222);
      background-clip: text;
      -webkit-text-fill-color: transparent;
        font-style: oblique;
        text-align: left;
        text-align-last: inherit;
        hyphens: auto;
        word-wrap: break-word;
    }
    
    .skills {
        width: 68%;
        padding: 0;
        white-space: nowrap;
        overflow-x: hidden;
        margin: 0;
        margin-left: 4%;
        margin-top: 14px;
        overflow: hidden;
    }
    
    .tecno {
        width: auto;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: start;
        flex-wrap: nowrap;
        animation: desplazamiento 20s linear infinite;
    }
    
    @keyframes desplazamiento {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(-160%);
        }
      }
    
      .tecno p {
          width: auto;
          font-size: 22px;
          color: #49494993;
          padding: 0;
          margin: 0;
          margin-right: 14px;
          display: flex;
          align-items: center;
        }
        
        .menu {
            display: block;
            width: auto;
            height: auto;
            margin: 0;
            margin-top: 36px;
            padding-left: 4%;
            background-color: transparent;
              }
          
          .menu ul li {
            list-style: none;
            display: inline;
          }
          
          .menu ul li a {
            text-decoration: none;
            color: #00ffee9c;
            font-size: 18px;
            font-weight: 400;
            letter-spacing: .6px;
            text-align: center;
            padding: 0;
            margin: 0;
            margin-right: 15px;
        }
}