.container {
  width: 100%;  
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: start;
  padding: 160px 20%;
  padding-bottom: 0;
  background-color: transparent;
}

.imgPre img {
    width: 400px;
    height: auto;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 10%, transparent);
    border: 5px solid #52525288;
    border-radius: 50%;
    filter: grayscale(.75);
    transform: scale(1);
    position: absolute;
    right: 20%;
    pointer-events: none;

}

.txtPre {
    width: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 30px;
}

.mati {
    width: auto;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: #ffffff9e;
    letter-spacing: .3px;
    padding: 0;
    margin: 0;
    filter: drop-shadow(-10px -5px 10px rgba(125, 125, 125,0));
    border-radius: 2px;
}

.txtPre h1 {
    font-size: 64px;
    font-weight: 500;
    font-style: normal;
   background-color: transparent;
   background-image: linear-gradient(to right,#009389,#ffffff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    margin-top: 18px;
    padding: 0;
    letter-spacing: -2px;
    line-height: 66px;
    word-spacing: normal;
    text-align: left;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
}

.des {
    width: 60%;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #6c6c6c;
    padding: 0;
    margin: 0;
    margin-top: 20px;
}

.menu {
    display: none;
}

.redes {
    width: auto;
    height: auto;
    margin: 0;
    margin-top: 40px;
    padding: 0;
    display: flex;
    align-items: center;
}

.redes nav {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.redes ul {
    margin: 0;
    padding: 0;
}

.redes li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.redes li a {
    text-decoration: none;
    margin: 0px;
    margin-right: 15px;
    padding: 0px 9px;
    padding-top: 8px;
    text-align: center;
    font-size: 24px;
    color: #ffffff81;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.4s ease;
}

.redes li a:hover {
    color: #009389;
}


.cv {
    display: none;
}
























/* Estilos para dispositivos móviles ------------------------------- */

@media only screen and (max-width: 680px) {

    .container {
        width: 100%;
        height: 100vh;
        padding: 0;
        margin: 0;
        overflow: inherit;
        background-image: none;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 0;
        background-color: #121212;
      }
      
      .imgPre {
        width: 90%;
        height: 100%;
        position: absolute;
        margin: 0;
        margin-top: 90px;
        padding: 0;
        padding: 0;
        overflow: hidden;
     }

      .imgPre img {
          right: 0;
          width: 70%;
          object-fit: scale-down;
          height: auto;
          mask-image: linear-gradient(to bottom , rgba(0, 0, 0, 1) 10%, transparent);
          border: none;
          border-radius: 0;         
          filter: grayscale(.4);
          transform: scale(1);
          opacity: .6;
          padding: 0;
          margin: 0;
          object-fit: cover;
      }
      
      .txtPre {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;
          margin: 0;
          margin-top: 200px;
          padding: 0 20px;
      }
      
      .mati {
          width: auto;
          font-size: 16px;
          font-weight: 300;
          line-height: 18px;
          color: #d4d4d4c5;
          letter-spacing: .8px;
          padding: 0;
          margin: 0;
          filter: drop-shadow(initial);
          text-shadow: 0px 0px 4px #000;
      }
      
      .txtPre h1 {
          font-size: 28px;
          font-weight: 600;
          font-style: normal;
           background-color: transparent;
            background-image: linear-gradient(to left,#c1c1c1c9 20%,#00ffee8d);
          background-clip: text;
          -webkit-text-fill-color: transparent;
          margin: 0;
          margin-top: 16px;
          padding: 0;
          letter-spacing: -1px;
          line-height: 30px;
          word-spacing: normal;
          text-align: left;
          font-family: "Rubik", sans-serif;
          font-optical-sizing: auto;
        }
        
        .des {
            width: 100%;
            font-size: 20px;
            font-weight: 500;
            line-height: 22px;
            letter-spacing: .6px;
            text-align: left;
            padding: 0;
            margin: 0;
            margin-top: 16px;
            background-color: transparent;
             background-image: linear-gradient(to right,#5f5f5f 20%,#b4b4b4eb);
           background-clip: text;
           -webkit-text-fill-color: transparent;
        }

        .menu {
            display: block;
            width: auto;
            height: auto;
            margin: 0;
            margin-top: 38px;
              }
          
          .menu ul li {
            list-style: none;
            display: inline;
          }
          
          .menu ul li a {
            text-decoration: none;
            color: #00ffee9c;
            font-size: 18px;
            font-weight: 450;
            letter-spacing: .6px;
            text-align: center;
            padding: 0;
            margin: 0;
            margin-right: 15px;
        }
      
        
      .redes {
        display: none;
          width: auto;
          height: auto;
          margin: 0;
          margin-top: 50px;
          padding: 0;
          align-items: center;
      }
      
      .redes nav {
          width: 100%;
          height: auto;
          margin: 0;
          padding: 0;
      }
      
      .redes ul {
          margin: 0;
          padding: 0;
      }
      
      .redes li {
          display: inline;
          list-style-type: none;
          margin: 0;
          padding: 0;
      }
      
      .redes li a {
          text-decoration: none;
          margin: 0px;
          margin-right: 8px;
          padding: 0px 9px;
          padding-top: 8px;
          text-align: center;
          font-size: 22x;
          color: #ffffff76;
          border-radius: 50%;
          cursor: pointer;
      }
      
      .redes li a:hover {
          background-color: #00938925;
          color: #fff;
      }

      .cv {
        display: none;
        margin: 0;
        margin-top: 20px;
        padding: 0;
      }

      .cv a {
        text-decoration: none;
        padding: 4px 12px;
        color: #878787;
        border: 1px solid #878787;
        border-radius: 4px;
      }

      .cv a svg {
        position: relative;
        top: 3px;
      }
}