.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    padding-bottom: 120px;
    overflow-x: hidden;
    background-image: url('bgHeader.jpeg');
    background-size: cover;
 }

 .contactMe {
    width: 50%;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 2px;
    background-color: transparent;
    padding: 0;
    text-align: right;
}

.box {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 90px;
    padding: 50px 50px;
    padding-left: 80px;
}

.imgAbout {
    width: auto;
}

.imgAbout img {
    width: 300px;
    object-fit: cover;
    pointer-events: none;
}

.caja {
    width: 720px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 30px;
    margin: 0;
    padding-left: 50px;
}


.caja p {
    width: auto;
    font-size: 26px;
    letter-spacing: .6px;
    line-height: 120%;
}

.redes {
    width: auto;
    }

.redes nav {
    width: auto;
}

.redes ul {
    list-style-type: none;
}

.redes ul li {
    display: block;
    margin-bottom: 15px;
}

.redes a {
    display: inline-flex;
    align-items: center;
    padding: 7px 14px;
    background-color: #222;
    border: 0.3px solid #ffffff1d;
    color: #b5b5b5;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: .6px;
    transition: all .4s ease;
  }
  
  .redes a:hover {
    background-color: #333333;
    color: #f7f7f7;
    transform: scale(1.05) !important;
  }
  
  .redes svg {
    margin-right: 8px;
  }










/* Estilos para dispositivos móviles ------------------------------- */

@media only screen and (max-width: 680px) {


    .container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        margin: 0;
        padding: 60px 0;
        overflow: hidden;
     }

     .contactMe {
        width: 58%;
        font-size: 24px;
        font-weight: 400;
        letter-spacing: .8px;
        padding: 0;
        text-align: right;
     }

     .box {
        width: 90%;
        border: none;
        padding: 40px 10px;
        margin: 0 auto;
        margin-top: 50px;
        border: none !important;
        display: flex;
        flex-direction: column;
        border: 1px solid #ffffff10 !important;
        background-color: #222 !important;
     }
    
    .caja {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 0;
        gap: 10px;
    }
    
    .imgAbout {
        width: auto;
    }
    
    .imgAbout img {
        width: 200px;
        object-fit: cover;
        mask-image: linear-gradient(to bottom, #000 10%, transparent);
        opacity: .7;
    }
    
    .caja p {
        width: 90%;
        color: #939393;
        margin-left: 0px;
        margin-top: 0px;
        font-size: 20px;
        line-height: 20px;
        font-weight: 500;
        text-align: center;
        position: relative;
        top: -20px;
        text-shadow: 0px 0px 5px #000;
    }
    
    .redes {
        width: 100%;
        margin-top: 0px;
        }
    
    .redes nav {
        width: auto;
        display: flex;
        justify-content: center;
    }
    
    .redes ul {
        list-style-type: none;
    }
    
    .redes ul li {
        display: block;
        margin-bottom: 5px;
    }
    
    .redes a {
        display: block;
        width: 100%;
        align-items: center;
        text-align: center;
        padding: 5px 16px;
        background-color: transparent;
        color: #ffffff88;
        text-decoration: none;
        transition: all 0.3s ease;
        margin-right: 0px;
        font-size: 18px;
        font-weight: 300;
        letter-spacing: .4px;
        border: none;
      }
      
      .redes a:hover {
        background-color: inherit;
        color: #c7c7c7;
      }
      
      .redes svg {
        margin-right: 8px;
        position: relative;
        top: 3px;
      }

}