.container {
    width: 100%;
    height: auto;
    padding: 120px 0px;
    padding-bottom: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.container h5 {
    width: auto;
    font-size: 26px;
    font-weight: 500;
    color: #fff;
    background-color: #8000ff;
    margin: 0;
    padding: 100px;
    border-radius: 12px;
}

.arrow {
    position: relative;
    top: 5px;
}

.redes ul {
    list-style-type: none;
}

.redes ul li {
    display: flex;
    align-items: center;
}

.redes a {
    font-size: 20px;
    text-decoration: none;
    color: #333;
    padding: 0;
    margin: 7px 0;
}

.redes a:hover {
    color: #5400a8;
}

.icon {
    font-size: 30px;
    color: #222;
    padding: 0;
    margin: 0;
    margin-right: 12px;
    position: relative;
    top: 8px;
}