.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 150px 0;
    overflow-x: hidden;
    background-image: url('bgHeader.jpeg');
    background-size: cover;
 }

 .contactMe {
    width: 26%;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 2px;
    background-color: rgb(42, 0, 77);
    color: #000;
    padding: 10px 20px;
    text-align: right;
}

.box {
    width: 70%;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(51, 4, 95);
    margin: 0 auto;
    margin-top: 60px;

}

.caja {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    margin: 0 auto;
}

.imgAbout {
    width: auto;
    display: flex;
    justify-content: center;
}

.imgAbout img {
    width: 160px;
    object-fit: scale-down;
    border-radius: 50%;
    background-color: rgb(25, 3, 45);
    border: 1px solid #ffffff30;
    pointer-events: none;
}

.caja p {
    width: auto;
    color: #aeaeae;
    margin-left: 20px;
    font-size: 22px;
    font-weight: 400;
}

.redes {
    width: 100%;
    height: auto;
    padding: 50px 0px;
    padding-top: 60px;
    }

.redes nav {
    width: auto;
    display: flex;
    justify-content: center;
}

.redes ul {
    list-style-type: none;
}

.redes ul li {
    display: inline;
}

.redes a {
    display: inline-flex;
    align-items: center;
    padding: 8px 16px;
    background-color: #000;
    border: 0.3px solid rgb(51, 4, 95);
    color: #d4d4d4;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    margin-right: 20px;
    font-size: 20px;
    letter-spacing: .4px;
    transition: all .4s ease;
  }
  
  .redes a:hover {
    background-color: rgb(25, 3, 45);
    color: #cacaca;
  }
  
  .redes svg {
    margin-right: 8px;
  }


.menu {
    display: none;
}










/* Estilos para dispositivos móviles ------------------------------- */

@media only screen and (max-width: 680px) {


    .container {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        margin: 0;
        padding: 60px 0;
        overflow: hidden;
        background-image: none;
        background-color: #000000;
        background-position: bottom;
     }

     .contactMe {
        width: auto;
        font-size: 24px;
        font-weight: 700;
        letter-spacing: .8px;
        background-color: rgb(69, 0, 125);
        color: #c4c4c4;
        padding: 10px;
        padding-left: 45px;
        text-align: right;
     }

     .box {
        width: 100%;
        border: none;
     }
    
    .caja {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: none;
        padding-top: 80px;
    }
    
    .imgAbout {
        width: auto;
        display: flex;
        justify-content: center;
    }
    
    .imgAbout img {
        width: 180px;
        object-fit: scale-down;
        border-radius: 50%;
        background-color: rgb(51, 4, 95);
        border: 1px solid #ffffff30;
        mask: linear-gradient(to bottom, #000 10%, transparent);
        opacity: .5;
    }
    
    .caja p {
        width: auto;
        color: #939393;
        margin-left: 0px;
        margin-top: 0px;
        font-size: 16px;
        line-height: 18px;
        font-weight: 300;
        text-align: center;
        position: relative;
        top: -38px;
        text-shadow: 0px 0px 5px #000;
    }
    
    .redes {
        width: 100%;
        height: auto;
        background-image: none;
        padding: 0;
        margin: 0;
        margin-top: 10px;
        }
    
    .redes nav {
        width: auto;
        display: flex;
        justify-content: center;
    }
    
    .redes ul {
        list-style-type: none;
    }
    
    .redes ul li {
        display: inline;
    }
    
    .redes a {
        display: block;
        width: 100%;
        align-items: center;
        text-align: center;
        padding: 5px 16px;
        background-color: transparent;
        color: #ffffff88;
        text-decoration: none;
        transition: all 0.3s ease;
        margin-right: 0px;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: .4px;
        border: none;
      }
      
      .redes a:hover {
        background-color: inherit;
        color: #c7c7c7;
      }
      
      .redes svg {
        margin-right: 8px;
        position: relative;
        top: 3px;
      }

}