.container {
   display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: start;
   padding-bottom: 120px;
}

.titulo {
   width: 50%;
   font-size: 24px;
   font-weight: 400;
   letter-spacing: 2px;
   background-color: transparent;
   padding: 0;
   text-align: right;
}

.projectContainer {
   width: 92%;
   display: flex;
   justify-content: center;
   align-items: stretch;
   flex-wrap: wrap;
   gap: 32px 3%;
   margin: 0 auto;
   margin-top: 120px;
}

.boxPc {
   width: 48%;
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: stretch;
   gap: 0;
   padding: 15px;
   border: 1px solid rgb(47, 47, 47);
}

.boxPc:hover {
   border: 1px solid #545454;
   box-shadow: 0px 0px 10px #ffffff27;
}

.info {
   display: flex;
   justify-content: space-between;
   align-items: center;
}


.number {
   font-size: 18px;
   letter-spacing: .7px;
}

.date {
   font-size: 16px;
}

.imgPc {
   width: 100%;
   height: auto;
   margin-top: 6px;
   padding: 0;
   overflow: hidden;
   background-color: #222;
}

.imgPc img {
   width: 100%;
   height: 200px;
   transition: all .8s ease;
   object-fit: cover;
   object-position: top;
   border-radius: 5px;
   filter: drop-shadow(0px 0px 8px #000);
   transform: scale(1.03);
}

.imgPc img:hover {
  transform: scale(1.06);
}

.titu {
   font-size: 18px;
   letter-spacing: .7px;
   margin: 0;
   margin-top: 5px;
}

.detalle {
   font-size: 17px;
   letter-spacing: .7px;
   line-height: 17px;
   margin: 0;
   margin-top: 7px;
   padding: 0;
}

.tecno {
   width: 100%;
   text-align: left;
   font-size: 14px;
   line-height: 16px;
   letter-spacing: .4px;
   padding: 0;
   padding-top: 10px;
   margin: 0;
   margin-top: auto;
}

.butons {
   width: auto;
   display: flex;
   justify-content: start;
   align-items: center;
   padding-top: 20px;
   margin-top: auto;
   z-index: 200;
}

.butonWeb {
   display: inline-flex;
   align-items: center;
   padding: 6px 14px;
   text-decoration: none;
   border-radius: 5px;
   transition: background-color 0.4s ease;
   margin-right: 16px;
   font-size: 14px;
 }
 
 .butonWeb:hover {
   transform: scale(1.05);
 }
 
 .butonWeb svg {
   margin-right: 8px;
 }













/* Estilos para dispositivos móviles ------------------------------- */

@media only screen and (max-width: 680px) {
   .container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: start;
      padding: 0;
   }
   
   .titulo {
      width: 58%;
      font-size: 24px;
      font-weight: 400;
      letter-spacing: .8px;
      padding: 0;
      text-align: right;
   }
   
   .projectContainer {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: start;
      align-items: stretch;
      gap: 20px;
      margin-top: 0;
      overflow-x: scroll !important;
      padding: 60px 12px;
      padding-right: 30px;
   }

   .projectContainer::-webkit-scrollbar {
      display: none;
   }

   .boxPc {
      width: 320px !important;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: stretch;
      gap: 0;
      margin-bottom: 0;
      padding: 20px 10px;
      border: .4px solid #282828;
      flex-grow: 1;
   } 

   .boxPc:hover {
      box-shadow: none;
   }

   .info {
      display: flex;
      justify-content: space-between;
      align-items: end;
   }
   
   .date {
      font-size: 14px;
      font-weight: 600;
      line-height: 12px;
      color: #606060;
   }
   
   .number {
      font-size: 18px !important;
      font-weight: 500;
      line-height: 14px;
      letter-spacing: .7px;
      color: #828282 !important;
   }
   
   .imgPc {
      width: 100%;
      height: auto;
      overflow: hidden;
      margin-top: 10px;
      padding: 0;
   }
   
   .imgPc img {
      width: 100%;
      height: 105px;
      object-fit: cover;
      object-position: top;
      transform: scale(1.05);
   }
   
   .imgPc img:hover {
      transform: inherit;
   }

   .titu {
      font-size: 20px;
      line-height: 22px;
      font-weight: 300;
      letter-spacing: .5px;
      color: #dadada !important;
      margin: 0;
      margin-top: 10px;
   }
   

   .detalle {
      width: 300px;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: .5px;
      line-height: 16px;
      color: #aaaaaa !important;
      margin-top: 8px;
      padding: 0;
      hyphens: auto;
      word-wrap: break-all;
   }
   
   .tecno {
      width: 100%;
      color: #772dff !important;
      text-align: left;
      font-size: 15px;
      font-weight: 500;
      line-height: 15px;
      letter-spacing: .5px;
      padding: 0;
      padding-top: 7px;
      margin: 0;
      margin-top: auto;
   }
   
   .butons {
      width: auto;
      display: flex;
      justify-content: start;
      align-items: center;
      margin-top: 0;
      z-index: 200;
   }
   
   .butonWeb {
      display: inline-flex;
      align-items: center;
      padding: 6px 14px;
      color: rgb(99, 99, 99);
      box-shadow: none;
      background-color: #111 !important;
      text-decoration: none;
      border-radius: 0px;
      margin-right: 7px;
      border: 1px solid rgb(65, 65, 65) !important;
    }

    .butonWeb span {
      display: none;
    }
    
    .butonWeb:hover {
      background-color: #686868;
      outline: none;
    }
    
    .butonWeb svg {
      margin-right: 8px;
    }
   
   
}

