.container {
   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   margin: 0;
   padding: 0 15%;
   overflow-x: hidden;
   background-image: linear-gradient(to bottom, transparent, transparent, #000);
}

.titulo {
   width: auto;
   margin-top: 180px;
}

.titulo h3 {
   font-size: 24px;
   font-weight: 500;
   color: #848484;
   text-align: center;
}

.projectContainer {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   padding: 60px 0;
   justify-content: flex-start;
   gap: 30px;
}

.box {
   width: 31%;
   min-width: 280px;
   display: flex;
   flex-direction: column;
   padding: 10px;
   background-color: transparent;
   border-radius: 4px;
   border: 1px solid #2f2f2f;
   position: relative;
   overflow: hidden;
   transition: all .6s ease;
}

.box:hover {
   border: 1px solid #ffffff6a;
   box-shadow: 0px 0px 20px #ffffff4e;
   z-index: 200;
}

.box a {
   text-decoration: none;
}

.box h5 {
   font-size: 20px;
   line-height: 20px;
   font-weight: 400;
   color: #b5b5b5;
   margin: 0;
   padding: 0;
}

.box:hover .imgPc {
   filter: grayscale(0);
}


.imgPc {
   transition: transform 1.5s ease-out;
   width: 100%;
   height: 200px;
   object-fit: cover;
   border-radius: 4px;
   filter: grayscale(.3);
 }
 
 .rol {
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    padding: 0px;
    margin: 0;
    color: #777777;
   }
   
   .info { 
      width: 100%;
      text-align: center;
      position: absolute;
      top: 0;
      left: 0px;
      margin: 0 auto;
      padding: 136px 0;
      display: none;
      background-color: rgba(0,0,0,.95);
      color: #fff;
      font-size: 26px;
      font-weight: 300;
      text-shadow: 0px 0px 40px #00ffee;
   }
   
   .box:hover .info {
      transition: all 0.7s ease;
}













/* Estilos para dispositivos móviles ------------------------------- */

@media only screen and (max-width: 680px) {

   .container {
      width: 100%;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0 4%;
      padding-bottom: 100px;
      overflow-x: hidden;
      background-image: none;
      background-color: #111;
   }
   
   .titulo {
      width: auto;
      margin-top: 100px;
   }
   
   .titulo h3 {
      font-size: 20px;
      font-weight: 500;
      color: #9e9e9e;
      text-align: center;
   }
   
   .projectContainer {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      margin-top: 50px;
      justify-content: center;
      align-items: center;
   }
   
   .box {
      width: 92%;
      display: flex;
      flex-direction: column;
      padding: 10px;
      margin-bottom: 22px;
      background-color: #0d0d0d;
      border-radius: 6x;
      border: 1px solid #000000;
      position: relative;
      overflow: hidden;
   }
   
   .box:hover {
      box-shadow: 0px 0px 100px #00938962;
   }
   
   .box a {
      text-decoration: none;
   }
   
   .box h5 {
      font-size: 22px;
      font-weight: 400;
      color: #ffffffb0;
      margin: 0;
      padding: 0;
   }
   
   
   .imgPc {
      transition: transform 1.5s ease-out;
      width: 100%;
      height: auto;
      object-fit: scale-down;
      border-radius: 4px;
      filter: grayscale(0.4);
    }
    
    .box:hover .imgPc {
      transform: none;
    }
    
    .rol {
       font-size: 18px;
       font-weight: 300;
       text-align: left;
       padding: 0px;
       margin: 0;
       color: #ffffffdc;
      }
      
      .info { 
         width: 100%;
         text-align: center;
         position: absolute;
         top: 0;
         left: 0px;
         margin: 0 auto;
         padding: 140px 0;
         display: none;
         background-color: rgba(0,0,0,.95);
         color: #fff;
         font-size: 26px;
         font-weight: 300;
         text-shadow: 0px 0px 40px #00ffee;
      }
   
   .box:hover .info {
      display: none;
   }
}

