.container {
    width: 100%;
    height: auto;
    background-image: linear-gradient(to right, #000 60%, transparent);
    margin: 0;
    padding: 10px 14%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 3000;
}

.container img {
    width: 40px;
    height: 40px;
    object-fit: scale-down;
    margin-top: 5px;
    opacity: .6;
}

.menu {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.menu nav {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.menu ul {
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li a {
    text-decoration: none;
    margin: 0px 17px;
    padding: 0px;
    text-align: center;
    color: rgb(130, 130, 130);
    font-size: 18px;
    font-weight: 500;
}

.menu li a:hover {
    filter: drop-shadow(0px 10px 5px #27fff1aa);
}
  
.cv button {
    width: auto;
    height: auto;
    font-size: 16px;
    font-weight: 350;
    letter-spacing: .7px;
    color: #78fff677;
    background-color: transparent;
    border-radius: 6px;
    margin: 0;
    padding: 8px 12px;
    border: 1px solid #5dfff477;
    outline: none;
}

.file {
    color: #78fff677;
    font-size: 18px;
    position: relative;
    top: 2px;
}

.cv button:hover .file {
    color: #fff;
}

.cv button:hover {
    color: #fff;
    background-color: #00625b;
    border: 1px solid #fff;
}

.menuResp {
    display: none;
}




/* Estilos para dispositivos móviles ------------------------------- */

@media only screen and (max-width: 680px) {

    .container {
      width: 100%;
      height:   auto;
      display: flex;
      align-items: center;
      padding: 0 5%;
      padding-top: 6px;
      margin: 0;
      position: fixed;
      top: 0px;
      z-index: 4000;
      box-shadow: none;
      background-image: none;
      background-color: transparent;
      padding-bottom: 4px;
      border-bottom: 0.5px solid #7979790e;
    }
    
    .cv {
        display: none;
    }

    .container img {
        width: 30px;
        object-fit: scale-down;
        margin-top: 5px;
        filter: drop-shadow(0px 0px 5px #54d7ffb1);
    }
    
    .menu {
      width: 100vw;
      height: calc(100vh - 60px);
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: start;
      background-image: none;
      background-size: cover;
      position: absolute;
      top: 60px;
      left: -800;
      transition: .4s all ease-out;
      z-index: 2000;
      overflow-x: hidden;
      border-top: none;
      background-color: #111;
        }
  
    .menu nav {
      width: 100vw;
    }
    
    .menu ul {
      width: 100vw;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      gap: 16px 0;
      padding: 0px;
      padding-top: 80px;
    }
    
    .menu ul li {
      width: 100%;
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: start;
      align-items: start;
    }
    
    .menu ul li a {
      width: 100%;
      text-decoration: none;
      color: #898989;
      font-size: 22px;
      font-weight: 500;
      letter-spacing: .3px;
      text-align: center;
      padding: 0;
      margin: 0;
    }

    .menu a:hover {
        filter: drop-shadow(none);
    }
    
    .menuResp { 
      width: auto;
      height: auto;
      display: flex;
      align-items: center;
      padding: 0;
      margin: 0;
    }
    
    .menuResp button {
      margin: 0;
      margin-right: 5px;
      padding: 0;
      font-size: 30px;
      transition: .3s all;
      position: relative;
      top: 5px;
      color: #00625b;
      background-color: transparent;
      border: none;
      outline: none;    }
  }

  
